manager {
    system-name: "AElfSystem"
}

akka {
    actor {
        provider = cluster
    }
    remote {
        dot-netty.tcp {
            hostname = "127.0.0.1"
            port = 32551
        }
    }
    cluster {
        seed-nodes = ["akka.tcp://AElfSystem@127.0.0.1:4053"]
    }
}